<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Список автобусов</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список автобусов</h1>
<script>
	var text=document.getElementById("content").innerHTML;
	text.replace(/\&nbsp\;/gi, '');</script>

<!--     <p><a href="/create">Добавить пользователя</a></p> -->
<div id="content">
    <table class="table table-striped table-sm w-auto ">
        <tr><th>Название машрута</th><th>Номер маршрута</th><th>Typeoftr</th><th>Удалить</th></tr>                
        {{#each RRR}}
		<tr>
            <td>{{Routename}}</td>
                <td>{{Routenum}}</td>			
				<td>{{Typeoftr}}</td> 
				<td><a 
                  class="btn btn-primary aqua-gradient " href="/protected_resourse/buses/{{Routeid}}" role="button">Удалить</a>   </td>            
            </tr>
        {{/each}}
    </table></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<html>